In [5]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics
import pandas as pd
%matplotlib inline

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [4]:
iris_data = load_iris()

In [6]:
df = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
df['species'] = pd.Categorical.from_codes(iris_data.target, iris_data.target_names)

In [9]:
df['is_train'] = np.random.uniform(0,1,len(df))<= 0.75

In [10]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,False
4,5.0,3.6,1.4,0.2,setosa,True
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,True
146,6.3,2.5,5.0,1.9,virginica,True
147,6.5,3.0,5.2,2.0,virginica,False
148,6.2,3.4,5.4,2.3,virginica,True
149,5.9,3.0,5.1,1.8,virginica,False

In [11]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [12]:
train

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True
5,5.4,3.9,1.7,0.4,setosa,True
...,...,...,...,...,...,...
141,6.9,3.1,5.1,2.3,virginica,True
142,5.8,2.7,5.1,1.9,virginica,True
145,6.7,3.0,5.2,2.3,virginica,True
146,6.3,2.5,5.0,1.9,virginica,True
148,6.2,3.4,5.4,2.3,virginica,True

In [13]:
test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
3,4.6,3.1,1.5,0.2,setosa,False
12,4.8,3.0,1.4,0.1,setosa,False
13,4.3,3.0,1.1,0.1,setosa,False
14,5.8,4.0,1.2,0.2,setosa,False
17,5.1,3.5,1.4,0.3,setosa,False
20,5.4,3.4,1.7,0.2,setosa,False
22,4.6,3.6,1.0,0.2,setosa,False
26,5.0,3.4,1.6,0.4,setosa,False
30,4.8,3.1,1.6,0.2,setosa,False
32,5.2,4.1,1.5,0.1,setosa,False
34,4.9,3.1,1.5,0.2,setosa,False
36,5.5,3.5,1.3,0.2,setosa,False
39,5.1,3.4,1.5,0.2,setosa,False
41,4.5,2.3,1.3,0.3,setosa,False
45,4.8,3.0,1.4,0.3,setosa,False
48,5.3,3.7,1.5,0.2,setosa,False
59,5.2,2.7,3.9,1.4,versicolor,False
60,5.0,2.0,3.5,1.0,versicolor,False
62,6.0,2.2,4.0,1.0,versicolor,False
63,6.1,2.9,4.7,1.4,versicolor,False
66,5.6,3.0,4.5,1.5,versicolor,False
75,6.6,3.0,4.4,1.4,versicolor,False
95,5.7,3.0,4.2,1.2,versicolor,False
97,6.2,2.9,4.3,1.3,versicolor,False
100,6.3,3.3,6.0,2.5,virginica,False
101,5.8,2.7,5.1,1.9,virginica,False
102,7.1,3.0,5.9,2.1,virginica,False
104,6.5,3.0,5.8,2.2,virginica,False
117,7.7,3.8,6.7,2.2,virginica,False
120,6.9,3.2,5.7,2.3,virginica,False
126,6.2,2.8,4.8,1.8,virginica,False
128,6.4,2.8,5.6,2.1,virginica,False
136,6.3,3.4,5.6,2.4,virginica,False
143,6.8,3.2,5.9,2.3,virginica,False
144,6.7,3.3,5.7,2.5,virginica,False
147,6.5,3.0,5.2,2.0,virginica,False
149,5.9,3.0,5.1,1.8,virginica,False

In [14]:
features = df.columns[:4]
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [15]:
y = pd.factorize(train['species'])[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2], dtype=int64)

In [16]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(train[features],y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [20]:
pred = clf.predict(test[features])

In [19]:
clf.predict_proba(test[features])

array([[1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0.9, 0.1, 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0.1, 0.9, 0. ],
       [0. , 1. , 0. ],
       [0. , 0.9, 0.1],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0.2, 0.8],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0.1, 0.9]])

In [21]:
pd.crosstab(test['species'],pred, rownames=['Actual'],colnames=['predicted'])

predicted    0  1   2
Actual
setosa      16  0   0
versicolor   0  8   0
virginica    0  0  13