In [11]:
# program to calculate Distance Between Two Points on Earth 
from math import radians, cos, sin, asin, sqrt 
def distance(v1,v2): 
    lat1 = float(v1[1:3]) + (float(v1[4:6])/60) + (float(v1[7:12])/3600)
    lon1 = float(v1[13:16]) + (float(v1[16:18])/60) + (float(v1[19:])/3600)
    
    lat2 = float(v2[1:3]) + (float(v2[4:6])/60) + (float(v2[7:12])/3600)
    lon2 = float(v2[13:16]) + (float(v2[16:18])/60) + (float(v2[19:])/3600)
    
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
    
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2

    c = 2 * asin(sqrt(a)) 
    
    # Radius of earth in kilometers. Use 3956 for miles 
    kr = 6371
#     mr = 3956
    return (c * kr)

In [12]:
import pandas as pd
import numpy as np
data = pd.read_csv("/home/tl/Documents/master_try.csv")
master = list(data['Cumulative_Distance'])
data1 = pd.read_csv("/home/tl/Documents/sub_try.csv")
sub = list(data1['Cumulative_Distance'])

In [18]:
li = np.array(list(data['Displacment']))
diff = round(distance(data['Position'][0],data1["Position"][0]),4)
# li = li-diff
for i in range(len(li)):
    li[i] = abs(li[i]-diff)
pos = np.argmin(li, axis=0)
print(data['Position'][pos],data1['Position'][0])

N12.55.39.47E79.15.49.67 N12.55.39.35E79.15.49.72

In [17]:
li = np.array(list(data['Displacment']))
diff = round(distance(data['Position'][0],data1["Position"][0]),4)
diff

13.0362

In [14]:
data

,Unnamed: 0,Frame,Assets_LHS,Assets_RHS,Position,Displacment,Cumulative_Distance,Diff
0,0,0,[],[],N12.54.55.83E79.23.00.43,0.0000,0.0000,0.0
1,1,3,[],[],N12.54.55.83E79.23.00.43,0.0000,0.0000,0.0
2,2,6,[],[],N12.54.55.83E79.23.00.43,0.0000,0.0000,0.0
3,3,9,[],[],N12.54.55.83E79.23.00.43,0.0000,0.0000,0.0
4,4,12,[],[],N12.54.55.83E79.23.00.43,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...
356218,356218,1068654,[],[],N12.30.26.41E78.13.21.19,133.8518,149.0679,0.0
356219,356219,1068657,[],[],N12.30.26.41E78.13.21.19,133.8518,149.0679,0.0
356220,356220,1068660,[],[],N12.30.26.41E78.13.21.19,133.8518,149.0679,0.0
356221,356221,1068663,[],[],N12.30.26.41E78.13.21.19,133.8518,149.0679,0.0
356222,356222,1068666,[],[],N12.30.26.41E78.13.21.19,133.8518,149.0679,0.0

In [15]:
data1

,Unnamed: 0,Last_frame,Position,Assets_LHS,Assets_RHS,Chainage,Displacment,Cumulative_Distance,Diff
0,0,36,N12.55.39.35E79.15.49.72,"['Signboard_Information_Board', 'Signboard_Man...",[],134.0 RHS,0.0000,0.0000,0.0000
1,1,96,N12.55.39.54E79.15.49.47,[],[],134.0 RHS,0.0095,0.0095,0.0095
2,2,156,N12.55.39.73E79.15.49.22,[],[],134.0 RHS,0.0191,0.0190,0.0095
3,3,216,N12.55.39.91E79.15.48.96,['Signboard_Caution_Board'],[],134.0 RHS,0.0287,0.0286,0.0096
4,4,276,N12.55.40.10E79.15.48.71,[],[],134.0 RHS,0.0382,0.0381,0.0095
...,...,...,...,...,...,...,...,...,...
79,79,4674,N12.55.59.86E79.15.37.87,[],[],133.0 RHS,0.7270,0.7408,0.0099
80,80,4734,N12.56.00.13E79.15.37.71,[],[],133.0 RHS,0.7367,0.7504,0.0096
81,81,4794,N12.56.00.40E79.15.37.55,[],[],133.0 RHS,0.7463,0.7600,0.0096
82,82,4854,N12.56.00.67E79.15.37.37,[],[],133.0 RHS,0.7562,0.7699,0.0099
83,83,4914,N12.56.00.93E79.15.37.19,[],[],133.0 RHS,0.7659,0.7796,0.0097